<%- include('./parcials/head/head.ejs') %>

<div class="container">
  <div >
  <ol class="breadcrumb ">
    <!-- <li><a href="/">Home</a><span class="glyphicon glyphicon-triangle-right"></span></li> -->
    <li><a href="/">Home</a></li>
    <li class="active">about</li>
  </ol>
  </div>

<div class="row">
  <div class="col-md-6">
    <h1>About</h1>
    <img src="images/building.jpg" alt="Buiding" />
    <p>
      Morula Construction and Plant Hire (Morula) was founded by Humphrey Molemoeng who spent a considerable amount of time since 2008 consulting on construction projects in various provinces of South Africa. He has worked with diverse teams and various communities in making construction projects ranging from buildings such as community centres and schools, civil construction projects such as access roads and bridges.
    </p>
    <p>
      His experience also includes as head of finance and facilities of a university campus where he oversaw construction of over 800 students rooms, lecturer halls and other facilities to expand a campus.
    </p>
    <p>
      Morula Construction is a construction company established to take advantage of opportunities arising from infrastructure renewal programmes and new rural settlements developments. Morula supports various suppliers and contractors with requisite capacity to ensure that projects are delivered on time and in budget
    </p>
    <p>
      Morula will use extensive knowledge of its team to advice clients and parties on project risk, developing plans to manage the identified risks.
    </p>
  </div>
  <div class="col-md-6">
    <h1>VISION MISSION AND VALUES</h1>
    <h3>Vision</h3>
    To be a leading partner in delivering quality projects.
    <img src="images/vision.jpg" alt="vision" />
    <h3>Mission</h3>
    <p>
      Our mission is to enalbe clients and communities, through collaborative relationships,  they serve to deliver quality projects on time and in budget.
    </p>
    <h3>Values</h3>
    <img src="images/values.jpg" alt="values" />
  </div>

</div>
</div>

<%- include('./parcials/footer/footer.ejs') %>
