<%- include('./parcials/head/head.ejs') %>

  <div class="container">
    <div >
    <ol class="breadcrumb ">
      <!-- <li><a href="/">Home</a><span class="glyphicon glyphicon-triangle-right"></span></li> -->
      <li><a href="/">Home</a></li>
      <li class="active">documents</li>
    </ol>
    </div>
    <h1> Documents</h1>
    <br>
    <br>
    <p class="contact">
      Please contact Morula at : <a class="aemail" href="mailto:admin@morulacph.co.za">admin@morulacph.co.za</a>
    </p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    </div>

    <hr>
  <%- include('./parcials/footer/footer.ejs') %>
