<%- include('./parcials/head/head.ejs') %>

  <div class="container">
    <div >
    <ol class="breadcrumb ">
      <!-- <li><a href="/">Home</a><span class="glyphicon glyphicon-triangle-right"></span></li> -->
      <li><a href="/">Home</a></li>
      <li class="active">documents</li>
    </ol>
    </div>
    <h1> Documents</h1>
    <ul>
    <li  ><a href="#">CIDB</a></li>
    <li><a href="#">BBBEE</a></li>
    <li r><a href="#">Other</a></li>
    </ul>
    </div>

    <hr>
  <%- include('./parcials/footer/footer.ejs') %>
