

<%- include('./parcials/head/home-head.ejs') %>

  <!-- <div class="jumbotron">
    <div class="container">
      <h1>Hello, world!</h1>
      <p>
      This is a template for a simple marketing or informational website."
      It includes a large callout called a jumbotron and three supporting pieces of content."
      "Use it as a starting point to create something more unique."
      </p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button"> tr("Learn more {raquo}"</a></p>
    </div>
  </div> -->

  <div class="row" >

  </div>
    <div class="container">
<h1>Home</h1>
<div class="row">
  <div class="col-md-8">
    <h3>Morula</h3>
    <p>
      Our company is named after Morula tree and its fruit. History of Morula goes back over 1000s of years and has been source of nutrition to inhabitants of Southern Africa. Like Morula tree that grows from a single stem and wide spreading crown, Morula construction plans to grow its business into other geographical markets with its identity firmly rooted in South Africa.
    </p>
  </div>

</div>

      <div class="row">
        <div class="col-md-3 col-xs-6">
          <h3>Building</h3>
          <br>
          <img alt="bulding" src="images/building.jpg" class="img-responsive img-rounded" />
          <br>
          <ul>
            <li  >Commercial property development.</li>
            <li>Residential property development.</li>
          </ul>
          <a href="building" >more...<a>
        </div>
        <div class="col-md-3 col-xs-6">
          <h3>Civil construction</h3>
          <br>
            <img alt="bulding" src="images/civil1.jpg"  class="img-responsive img-rounded"/>
            <br>
          <ul>
            <li>Civil construction.</li>
            <li>Municipal infrastructure.</li>
            <li>Water Reticulation.</li>
            <li>Bulk Water infrastructure.</li>
            <li>Waste water infrastructure.</li>
          </ul>
            <a href="civil-construction" >more...<a>
        </div>
        <div class="col-md-3 col-xs-6">
          <h3>Plant and Earthmoving Equipment</h3>
          <br>
          <img alt="Plant and Earthmoving Equipment" src="images/pee.jpg"  class="img-responsive img-rounded"/>
          <br>
          <ul>
            <li  >xxxx xxxx xxxxx xxxxxx xxx</li>
            <li>xxxxx xxxxxx xxxxx xxxxxx </li>
          </ul>
            <a href="pee" >more...<a>
        </div>
        <div class="col-md-3 col-xs-6">
          <h3>Consulting</h3>
          <br>
          <img alt="Consulting" src="images/consulting1.jpg"  class="img-responsive img-rounded"/>
          <br>
          <ul>
            <li  >Project risk management</li>
            <li>Cost and budget analysis</li>
            <li>Technical consultancy</li>
          </ul>
            <a href="consulting" >more...<a>

        </div>
        </div>

      </div>

      <hr>


    </div> <!-- /container -->

  <%- include('./parcials/footer/footer.ejs') %>
