
  <footer>
<div class="row">
<div class="col-md-4 footer-div ">
  <h3>Terms And Conditions</h3>
<br>
    <div><a href="terms-of-use">Terms Of Use</a></div>
    <div><a href="privacy-policy">Privacy Policy</a></div>



</div>
<div class="col-md-4 footer-div">
  <h3>Contacts</h3>
  <br>
    <div><span class="glyphicon glyphicon-earphone">   (087) 941 4655</div>
    <div><span class="glyphicon glyphicon-envelope">   admin@morulacph.co.za</div>
    <div><span class="glyphicon glyphicon-print">   (086) 687 9383</div>


</div>
<div class="col-md-4 footer-div">
  <h3>Social</h3>
  <br>

    <div ><a href="#"><%- include('../../svg/facebook.svg') %> </a></div>
    <div ><a href="#"><%- include('../../svg/google.svg') %></a></div>
    <div ><a href="#"><%- include('../../svg/twitter.svg') %></a></div>



</div>
</div>
<br>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    Copyright &copy; 2016 Morula Construction. All Rights Reserved
  </div>

</div>
  </footer>


    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </body>
  </html>
